<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring Boot - Lista kontaktów</title>
        <link rel="stylesheet" th:href="@{/style.css}" />
    </head>
    <body>
        <h2>Spring Boot - Kontakty</h2>
        <form method="POST">
            <label for="numberPlate">Tablica rejestracyjna:</label>
                <input type="text" name="numberPlate"></input><br/>
            <label for="brand">Marka:</label>
                <input type="text" name="brand"></input><br/>
            <label for="model">Model:</label>
                <input type="text" name="phoneNumber"></input><br/>
            <label for="vintage">Rocznik:</label>
                <input type="text" name="vintage"></input><br/>
            <input type="submit"></input>
        </form>
        <ul th:each="car : ${cars}">
            <li>
                <span th:text="${car.numberPlate}">Imię</span>
                <span th:text="${car.brand}">nazwisko</span> :
                <span th:text="${car.model}">telefon</span>,
                <span th:text="${car.vintage}">e-mail</span>
            </li>
        </ul>
    </body>
</html>
