<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<h2>Admin Dashboard - Choose operation</h2>
<form method="POST" th:action="@{/adminDashboard}">
    <button type="submit" name="adminAction" value="addAccount">Manage account</button>
    <button type="submit" name="adminAction" value="confirmAccount">Confirm Account</button>
    <button type="submit" name="adminAction" value="setFreeRepair">Set repair to employee</button>
    <button type="submit" name="adminAction" value="addExtraRight">Add extra right to client</button>
    <button type="submit" name="adminAction" value="calculateCommission">Calculate bill for commission</button>
</form>
</body>
</html>
