<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Commissions - review base</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<h2>Commission base</h2>
<ul th:each="commission : ${commissions}">
    <li>
        ID of commission:<br />
        <span th:text="${commission.id}"></span><br />
        Term of sign commission:<br />
        <span th:text="${commission.term}"></span><br />
        <form action="#" method="POST" th:action="@{/myCommission}" th:object="${commission}">
            <input type="hidden" name="id" th:value="${commission.id}" />
            <input type="hidden" name="term" th:value="${commission.term}" />
            <input type="hidden" name="car" th:value="${commission.car}" />
            <button type="submit" name="userSelectAction" value="selectCommission">Check commission</button>
        </form>
    </li>
</ul>
<form method="POST" th:action="@{/myCommission}">
    <button type="submit" name="userAddAction" value="addNewCar">Add car</button>
    <button type="submit" name="userBackAction" value="toMyCars">Back</button>
</form>
</body>
</html>