<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Employee Dashboard</title>
        <link rel="stylesheet" th:href="@{/style.css}" />
    </head>
    <body>
        <h2>Employee Dashboard - Choose operation</h2>
        <form method="POST" th:action="@{/employeeDashboard}">
            <button type="submit" name="employeeAction" value="checkMyRepairs">My Repairs</button>
            <button type="submit" name="employeeAction" value="addRepair">Add new repair</button>
            <button type="submit" name="employeeAction" value="archiveCars">Archive</button>
            <button type="submit" name="employeeAction" value="checkStore">Go to store</button>
        </form>
    </body>
</html>

