<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Baza samochodów - dodaj</title>
        <link rel="stylesheet" th:href="@{/style.css}" />
    </head>
    <body>
        <h2>Dodaj nowe auto do bazy</h2>
        <form method="POST" th:action="@{/myCars/addCar}">
            <label for="numberPlate">Tablica rejestracyjna:</label>
                <input type="text" name="numberPlate"></input><br/>
            <label for="brand">Marka:</label>
                <input type="text" name="brand"></input><br/>
            <label for="model">Model:</label>
                <input type="text" name="model"></input><br/>
            <label for="vintage">Rocznik:</label>
                <input type="text" name="vintage"></input><br/>
            <button type="submit" name="userSaveAction" value="save">Save</button>
        </form>
        <form method="POST" th:action="@{/myCars/addCar}">
            <div th:switch="${from}">
                <p th:case="'overview'"><button type="submit" name="userBackAction" value="toOverview">Back</button></p>
                <p th:case="'dashboard'"><button type="submit" name="userBackAction" value="toDashboard">Back</button></p>
            </div>
        </form>
    </body>
</html>
