<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<header>
    <h2>Complete form and press button Register!</h2>
</header>
<form method="POST" th:action="@{/registration}">
    <label for="firstName">First Name:</label>
    <input type="text" name="firstName"></input><br/>
    <label for="lastName">Last Name:</label>
    <input type="text" name="lastName"></input><br/>
    <label for="phoneNumber">Phone number:</label>
    <input type="text" name="phoneNumber"></input><br/>
    <label for="email">Email:</label>
    <input type="text" name="email"></input><br/>
    <label for="username">Username:</label>
    <input type="text" name="username"></input><br/>
    <label for="password">Password:</label>
    <input type="text" name="password"></input><br/>
    <button class="button medium" type="submit" name="userRegistrationAction" value="register">Register!</button>
</form>
</body>
</html>